In [137]:
import pandas as pd

In [138]:
inputFileName = 'C:\\Users\\silviana campian\\Desktop\\data mining cup\\DMC_Fashion_2016\\data\\orders_train_1K.txt'

In [139]:
data = pd.read_csv(inputFileName, delimiter=';', skipinitialspace=True)

In [140]:
data.head()

,orderID,orderDate,articleID,colorCode,sizeCode,productGroup,quantity,price,rrp,voucherID,voucherAmount,customerID,deviceID,paymentMethod,returnQuantity
0,a1000001,2014-01-01,i1000382,1972,44,3,1,10.00,29.99,0,0,c1010575,2,BPRG,0
1,a1000001,2014-01-01,i1000550,3854,44,3,1,20.00,39.99,0,0,c1010575,2,BPRG,0
2,a1000002,2014-01-01,i1001991,2974,38,8,1,35.00,49.99,0,0,c1045905,4,BPRG,0
3,a1000002,2014-01-01,i1001999,1992,38,8,1,49.99,49.99,0,0,c1045905,4,BPRG,1
4,a1000003,2014-01-01,i1001942,1968,42,8,1,10.00,35.99,0,0,c1089295,2,PAYPALVC,0

In [141]:
data.loc[(data.sizeCode=='XS'), 'sizeCode'] = 0
data.loc[(data.sizeCode=='S'), 'sizeCode'] = 1
data.loc[(data.sizeCode=='M'), 'sizeCode'] = 2
data.loc[(data.sizeCode=='L'), 'sizeCode'] = 3
data.loc[(data.sizeCode=='XL'), 'sizeCode'] = 4
# set A and I on 2 for now
data.loc[(data.sizeCode=='I'), 'sizeCode'] = 2
data.loc[(data.sizeCode=='A'), 'sizeCode'] = 2

In [142]:
# make sure there are no more Character sizes
data.loc[(data.sizeCode=='XS') | (data.sizeCode=='S') | (data.sizeCode=='M') | (data.sizeCode == 'L') | (data.sizeCode == 'XL')
         | (data.sizeCode == 'I') | (data.sizeCode == 'A')].shape

(0, 15)

In [143]:
data['sizeCode'].describe()

count     999
unique     17
top        42
freq      174
Name: sizeCode, dtype: object

In [144]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 15 columns):
orderID           999 non-null object
orderDate         999 non-null object
articleID         999 non-null object
colorCode         999 non-null int64
sizeCode          999 non-null object
productGroup      999 non-null int64
quantity          999 non-null int64
price             999 non-null float64
rrp               999 non-null float64
voucherID         999 non-null object
voucherAmount     999 non-null int64
customerID        999 non-null object
deviceID          999 non-null int64
paymentMethod     999 non-null object
returnQuantity    999 non-null int64
dtypes: float64(2), int64(6), object(7)
memory usage: 117.1+ KB

In [145]:
data.loc[:, 'sizeCode'] = pd.to_numeric(data['sizeCode'])

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 15 columns):
orderID           999 non-null object
orderDate         999 non-null object
articleID         999 non-null object
colorCode         999 non-null int64
sizeCode          999 non-null int64
productGroup      999 non-null int64
quantity          999 non-null int64
price             999 non-null float64
rrp               999 non-null float64
voucherID         999 non-null object
voucherAmount     999 non-null int64
customerID        999 non-null object
deviceID          999 non-null int64
paymentMethod     999 non-null object
returnQuantity    999 non-null int64
dtypes: float64(2), int64(7), object(6)
memory usage: 117.1+ KB

In [147]:
# normalize XS-XL
data.loc[(data.sizeCode >= 0) & (data.sizeCode <= 4), 'sizeCode'] = \
data.loc[(data.sizeCode >= 0) & (data.sizeCode <= 4), 'sizeCode'] / 4.0

In [148]:
# check if sizes with value below 1 are now existant
data.loc[(data.sizeCode <= 1), 'sizeCode'].count()

83

In [149]:
# normalize 32-44
data.loc[(data.sizeCode <= 44) & (data.sizeCode >= 32), 'sizeCode'] = \
(data.loc[(data.sizeCode <= 44) & (data.sizeCode >= 32), 'sizeCode'] - 32.0) / (44.0 - 32.0)

In [150]:
data.loc[(data.sizeCode <= 1), 'sizeCode'].count()

918

In [151]:
# normalize 24-33
data.loc[(data.sizeCode <= 33) & (data.sizeCode >= 24), 'sizeCode'] = \
(data.loc[(data.sizeCode <= 33) & (data.sizeCode >= 24), 'sizeCode'] - 24.0) / (33.0 - 24.0)

In [152]:
data.loc[(data.sizeCode <= 1), 'sizeCode'].count()

998

In [153]:
# normalize 75-100
data.loc[(data.sizeCode <= 100) & (data.sizeCode >= 75), 'sizeCode'] = \
(data.loc[(data.sizeCode <= 100) & (data.sizeCode >= 75), 'sizeCode'] - 75.0) / (100.0 - 75.0)

In [154]:
data.loc[(data.sizeCode <= 1), 'sizeCode'].count()

999

In [155]:
# set I and A to mean for the moment
data.loc[(data.sizeCode == 2), 'sizeCode'] = data['sizeCode'].mean()

In [157]:
# finally, check that no value is out of bounds
data.loc[(data.sizeCode > 1) | (data.sizeCode < 0)].shape

(0, 15)

In [158]:
data['sizeCode'].describe()

count    999.000000
mean       0.619236
std        0.264689
min        0.000000
25%        0.500000
50%        0.666667
75%        0.833333
max        1.000000
Name: sizeCode, dtype: float64